<div class="com_parking_dialog_header">
    <%= com_parking.dictionary.parkingDetails %>
    <a href="#">X</a>
    <div class="com_parking_widget_clear"></div>
</div>
<div>
    <ul>
        <li>ID: <%= com_parking.selectedparking.id %></li>
        <li><% if(com_parking.selectedparking.indoor  == true){%>
                    <%= com_parking.dictionary.indoorSpace %>
                <% } else {%>
                    <%= com_parking.dictionary.outdoorSpace %>
            <% } %>
        </li>
        <li><% if(com_parking.selectedparking.insurance  == true){%>
                    <%= com_parking.dictionary.insuranceIncluded %>
                <% } else {%>
                    <%= com_parking.dictionary.insuranceExcluded %>
            <% } %>
        </li>    
        <li><%= com_parking.selectedparking.price%></li>
    </ul>
    <button class="com_parking_dialog_btn_reserve"><%= com_parking.dictionary.reserve %></button>
</div>